<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Salut à toi {{el}} !</h1>
    <form action="/result" method="post" class="form-example">
      <div class="form-example">
        <label for="name">Entre ton nom beau goss :</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-example">
        <input type="submit" value="Envoie la sauce!" />
      </div>
    </form>
  </body>
</html>
